<html>
	<head>
		<title>Request Example</title>
	</head>
	<body>
		<form method="POST" action="/stock">
			Cash : <input type="text" name="money">
			<h1></h1>
			<h1></h1>
			<h1></h1>
		<form method="POST" action="/stock">
			Ticker 1 : <input type="text" name="ticker1">
			<h1></h1>
		<form method="POST" action="/stock">
			Ticker 2 : <input type="text" name="ticker2">
			<h1></h1>
		<form method="POST" action="/stock">
			Ticker 3 : <input type="text" name="ticker3">
			<h1></h1>
		<form method="POST" action="/stock">
			Ticker 4 : <input type="text" name="ticker4">
			<h1></h1>
		<form method="POST" action="/stock">
			Ticker 5 : <input type="text" name="ticker5">			
			<h1></h1>
			<h1></h1>
			<input type="submit" name="Update" value="start">									
		</form>
	</body>
</html>